# Ratgore
# НЕ ИЗМЕНЯТЬ ФАЙЛ ПРИ АПСТРИМЕ/ОБНОВЛЕНИИ.

# C#
/Content.*/** @SunChan07 # Временная строка пока не будет больше ревьюверов

# Ресурсы
/Resources/** @SunChan07 # Временная строка пока не будет больше ревьюверов

# /Resources/Textures/** 
# /Resources/Maps/**
# /Resources/Prototypes/**
# /Resources/Locale/**

# Копирайт
*.md @ReWAFFlution
*.txt @ReWAFFlution
Resources/**/meta.json @ReWAFFlution
