name: Discord Changelog

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * *'

jobs:
  publish_changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: master
          fetch-depth: 0

      - name: Publish changelog to Discord
        run: Tools/actions_changelogs_since_last_run.py
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.CHANGELOG_DISCORD_WEBHOOK }}
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        continue-on-error: true
