name: Publish

concurrency:
  group: publish
  cancel-in-progress: true

on:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * *'

jobs:
  build-and-publish:
    name: Build, Package & Publish
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Install OS dependencies
        run: sudo apt-get install -y python3-paramiko python3-lxml

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Fetch all tags (RobustToolbox)
        run: |
          cd RobustToolbox
          git fetch --all --tags

      - name: Setup .NET 9.0
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build Packaging
        run: dotnet build Content.Packaging --configuration Release --no-restore /m

      - name: Package server (multi-platform)
        run: dotnet run --project Content.Packaging server --platform win-x64 --platform win-arm64 --platform linux-x64 --platform linux-arm64 --platform osx-x64 --platform osx-arm64

      - name: Package client
        run: dotnet run --project Content.Packaging client --no-wipe-release

      - name: Publish version to CDN
        run: Tools/publish_multi_request.py
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
          GITHUB_REPOSITORY: ${{ vars.GITHUB_REPOSITORY }}

      - name: Set up SSH for changelog
        env:
          ACTIONS_SSH_KEY: ${{ secrets.ACTIONS_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$ACTIONS_SSH_KEY" | tr -d '\r' > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Publish changelog (Discord)
        continue-on-error: true
        run: Tools/actions_changelogs_since_last_run.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          DISCORD_CHANGELOG_ROLE_ID: "1308143973684088883"

      - name: Publish changelog (RSS)
        run: Tools/actions_changelog_rss.py
        env:
          CHANGELOG_RSS_KEY: ${{ secrets.CHANGELOG_RSS_KEY }}